{% extends "layout.html.twig" %}
{% block header %}
	<header class="header header-inverse" style="section-inverse" data-parallax="{{asset('images/bg-content-006.jpg')}}">
		<div class="container text-center">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
					<h1>Actividades</h1>
					<p class="fs-20 opacity-70">Colegio de Médicos Dermatológos de Nuevo León, A.C.</p>
				</div>
			</div>
		</div>
	</header>
{% endblock  %}	
{% block content %}
	<section class="section bg-grey">
		<div class="container">
			<div class="row gap-y">
				<div class="col-12 px-50 text-center">
					<h2>Cronograma de Actividades</h2>
					<hr/>
					<div class="alert alert-info text-left">
						<ul>
							<li>La próxima (7ª) Sesión académica se celebrará el MIERCOLES 4 de octubre debido a que el congreso DermoCosmética se llevara a cabo en CDMX del 5 al 7. El anfitrión será Pierre Fabre. La ponente, la Dra. Javiera Pérez </li>
							<li>Brigada en Dr. Coss el día sábado 23 de septiembre del 2017 en el Auditorio Municipal de Dr. Coss, de 10:30 am a 13:00 horas. Coordina: Dra. Sandra Guajardo</li>
							<li>La sesión de Noviembre (8ª) será académica (no cultural) y se  llevará   a cabo el día 9 de noviembre (segundo jueves del mes), ya que el 2 es festivo. El Anfitrión será Galderma</li>
							<li>La posada Navideña se celebrará el día 7 de Diciembre en el Hotel MS Millenium. El anfitrión será Merz.</li>
						</ul>
					</div>
					<div class="table-responsive crono">
						<table class="table table-bordered table-striped">
							<tr>
								<th width="15%">Fecha (2017)</th>
								<th width="15%">Hora</th>
								<th>Evento</th>
								<th>Lugar</th>
								<th>Conferencista</th>
							</tr>
							<tr>
								<td class="cronotd">Marzo 26</td>
								<td>7:00 –11:00 pm</td>
								<td>Toma de protesta Mesa Directiva SDNL 2017-19</td>
								<td>Club de Golf Valle Alto</td>
								<td>Dr. Eduardo García Luna, Vicerrector UdeM
							</td>
							</tr>
							<tr>
								<td class="cronotd3">Abril 5-8</td>
								<td class="cronotd3">Todo el día</td>
								<td class="cronotd3">Terapéutica</td>
								<td class="cronotd3">CDMX </td>
								<td class="cronotd3">&nbsp;</td>
							</tr>
							<tr>
								<td class="cronotd">Abril 20</td>
								<td>7:30 pm</td>
								<td>1ª sesión académica mensual</td>
								<td>Hotel Quinta Real</td>
								<td>Dr. Eduardo Poletti</td>
							</tr>
							<tr>
								<td class="cronotd">Mayo 4 </td>
								<td>7:30 pm</td>
								<td>2ª sesión académica conjunta con la Sociedad Mexicana de Tricología </td>
								<td>Hotel Quinta Real</td>
								<td>Dra. Cristina Serrano Falcón</td>
							</tr>
							<tr>
								<td class="cronotd3">Mayo 5-6</td>
								<td class="cronotd3">Todo el día</td>
								<td class="cronotd3">Congreso Pelo y Uñas (SMT/SMD)</td>
								<td class="cronotd3">CDMX</td>
								<td class="cronotd3">&nbsp;</td>
							</tr>
							<tr>
								<td class="cronotd2">Mayo 8</td>
								<td class="cronotd2">7:30 pm</td>
								<td class="cronotd2">Día de las Madres</td>
								<td class="cronotd2">Mar del Zur</td>
								<td class="cronotd2">Hugo Valdez, Escritor</td>
							</tr>
							<tr>
								<td class="cronotd3">Mayo 26-29</td>
								<td class="cronotd3">Todo el día</td>
								<td class="cronotd3">RADLA 2017</td>
								<td class="cronotd3">Bogotá</td>
								<td class="cronotd3">&nbsp;</td>
							</tr>
							<tr>
								<td class="cronotd">Junio 1</td>
								<td>7:30 pm</td>
								<td>3ª sesión académica mensual: Sesión Conjunta con la SMD</td>
								<td>Hotel Quinta Real</td>
								<td>Dr. Roberto Arenas / Trabajos de Ingreso</td>
							</tr>
							<tr>
								<td class="cronotd2">Junio 19</td>
								<td class="cronotd2">7:30 pm</td>
								<td class="cronotd2">Día del Padre</td>
								<td class="cronotd2">Magma Towers</td>
								<td class="cronotd2">Sociedad de Parrilleros</td>
							</tr>
							<tr>
								<td class="cronotd">Julio 13</td>
								<td>7:30 pm</td>
								<td>4ª sesión académica mensual</td>
								<td>Hotel Quinta Real</td>
								<td>Suneel Chilukuri, MD</td>
							</tr>
							<tr>
								<td class="cronotd">Agosto 3</td>
								<td>7:30 pm</td>
								<td>5ª sesión académica mensual: Sesión Conjunta con la AMD</td>
								<td>Hotel Quinta Real</td>
								<td>Trabajos de Ingreso</td>
							</tr>
							<tr>
								<td class="cronotd3">Ago 31- Sept 3</td>
								<td class="cronotd3">Todo el día</td>
								<td class="cronotd3">5 Continents Congress</td>
								<td class="cronotd3">Barcelona</td>
								<td class="cronotd3">&nbsp;</td>
							</tr>
							<tr>
								<td class="cronotd">Septiembre 7</td>
								<td>7:30 pm</td>
								<td>6ª sesión académica mensual</td>
								<td>Hotel Quinta Real</td>
								<td>Johannes F. Dayrit, MD</td>
							</tr>
                            <tr>
                                <td class="cronotd3">Octubre 5-7</td>
                                <td class="cronotd3">Todo el día</td>
                                <td class="cronotd3">Dermocosmética 2017</td>
                                <td class="cronotd3">Centro Banamex México DF</td>
                                <td class="cronotd3">&nbsp;</td>
                            </tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
