{% extends "layout.html.twig" %}
{% block header %}
	<header class="header header-inverse" style="section-inverse" data-parallax="{{asset('images/bg-content-001.jpg')}}">
		<div class="container text-center">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
					<h1>Historia de SDNL</h1>
					<p class="fs-20 opacity-70">Sociedad de Dermatología de Nuevo León A.C.</p>
				</div>
			</div>
		</div>
	</header>
{% endblock  %}	
{% block content %}
	<section class="section bg-grey">
		<div class="container">
			<div class="row gap-y justify-content-center">
				<div class="col-3 text-center">
					<p><img src="{{asset('images/logo-sdnl-dark-350.png')}}" class="overflow-hidden" data-aos="fade-down"></p>
					<br/>
					<img src="{{asset('images/derma-stock-003.jpg')}}" class="img-fluid img-circle overflow-hidden" data-aos="fade-down">
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-12 col-lg-6 p-50">
					<p>
						<strong>La Sociedad de Dermatología de Nuevo León</strong> tuvo su origen en el Hospital Civil de Monterrey, (SDNL) único sitio que proporcionaba atención a problemas de la piel en todo el noreste de México.
					</p>
					<p>
						En 1965, la Sociedad Mexicana de Dermatología organizó su Congreso Nacional, siendo sede la ciudad de Monterrey y como anfitrión su presidente, el Dr. Juventino González Benavides, apoyado por el Dr. Carlos Zermeño Frías. En este congreso nació la idea de formar esta Sociedad, que se cristalizó el día 12 de abril de 1968 cuando los doctores González y Zermeño, conjuntamente con los doctores Francisco Xavier Olivares Hernández, Genaro Peña Dávila y Adelaido Chapa Tijerina nombraron como su primer presidente al Dr. González e iniciaron sus sesiones, a las que acudían médicos externos que asistían con regularidad  al Servicio de Dermatología en el Hospital Universitario.
					</p>
					<p>
						Durante toda la trayectoria, nuestra sociedad ha tenido múltiples presidentes y presidentas, siendo la primera de ellas la Dra, Leticia Pérez Suárez quien ha permanecido activa desde el inicio de esta agrupación.
					</p>
				</div>
				<div class="col-12 col-lg-6 p-50">
					<p>
						En el año 1996, Nuevo León fue nuevamente escogido como sede para el Congreso Bienal de la Sociedad Mexicana de Dermatología: El XVII Congreso Mexicano De Dermatología, cuyo Presidente fué el Dr. Francisco Javier Olivares Hernández, El Secretario fue el Dr. Jorge Ocampo Candiani, el Tesorero fue el Dr. Remigio González Soto, el Pro-Secretario fue el Dr. Héctor Leal Silva y Fungio como Presidente Honorario el Dr. Juventino Gonzalez Benavides. Los miembros de la Sociedad de Dermatología de Nuevo León recibimos innumerables comentarios positivos de asistentes, profesores y representantes de la Industriañ, y hasta el día de hoy, aquel sigue siendo uno de los eventos mas grandes en el ambito Dermatológico Nacional.
					</p>
					<p>
						Actualmente, la sociedad de dermatología de Nuevo León cuenta con más de 140 miembros y es una de sociedades en las que más miembros asisten mes con mes a sus sesiones académicas, gracias a sus destacados programas de educación médica continua, así como a la capacidad y compromiso de sus integrantes.
					</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
