{% extends "layout.html.twig" %}

{% block header %}
	<header class="header header-inverse h-fullscreen p-0 bg-primary overflow-hidden" style="background-image: url('{{asset('images/background-001.jpg')}}')">
			<div class="container text-center">

				<div class="row h-full">
					<div class="col-12 col-lg-8 offset-lg-2 align-self-center pt-10">
						<img  src="{{asset('images/cmdnl-logo-xl-white.png')}}" alt="..." data-aos="fade-up" data-aos-offset="0">
						<div class="pt-20">
							<a class="btn btn-lg btn-outline btn-white w-220 ml-8 hidden-sm-down" href="#" data-scrollto="section-mensaje" data-aos="fade-up" data-aos-offset="0">Mensaje del Presidente</a>
						</div>
					</div>
				</div>

			</div>
		</header>
{% endblock %}

{% block content %}
	<section id="section-mensaje" class="section bg-grey">
		<div class="container">
			<div class="row gap-y justify-content-center">
				<header class="section-header">
			        <small>Colegio Médico de Dermatológos de Nuevo León A.C.</small>
			        <h2>Mensaje del Presidente</h2>
			        <hr>
			    </header>
			</div>
			<div class="row gap-y justify-content-center">
				<div class="col-4 text-center">
					<img src="{{asset('images/leal.jpg')}}" class="img-fluid img-circle overflow-hidden" data-aos="fade-up">
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-12 col-lg-6 px-50">
					<p>
						Tengo el privilegio de continuar sirviendo por estos 2 años en la Presidencia de nuestra grande Asociación. Antes que nada quiero agradecerles a todos y cada uno de ustedes por la oportunidad y la confianza que me brindan al permitirme continuar desempeñando tan digno cargo.
					</p>
					<p>
						En estos tiempos complejos, es imprescindible contar con programas consistentes de educación médica dermatológica de calidad, y Monterrey es referencia en servicios médicos de clase mundial. Los Dermatólogos nos hemos propuesto estar por encima de los retos que se nos presentan, es por eso que estamos mes con mes realizando eventos con conferencistas del más alto nivel, quienes nos están compartiendo sus conocimientos y experiencias, que engrandecen nuestro nivel académico profesional y personal, en beneficio de nuestros pacientes. 
					</p>
					<p>
						Los honorables miembros de la mesa directiva del bienio 2017-2019 y un servidor, continuamos desarrollando un ambicioso programa académico y cultural que esperamos sea tan enriquecedor como nos hemos propuesto. Tenemos preparadas una docena más de Sesiones Académicas, todas ellas contando con la participación de profesores con reconocimiento internacional, entre las que habrá 2 sesiones más de ingreso conjunto con la Sociedad Mexicana de Dermatología y con la Academia Mexicana de Dermatología en los meses de Mayo y Agosto respectivamente donde se evaluaran los trabajos de ingreso a nuestro Colegio y a alguna de estas sociedades con el mismo trabajo de ingreso (los requisitos se pueden consultar y descargar los formatos en la sección: Ingresos). 
					</p>
					<p>
						Continuaremos presentando eventos culturales con una parte académica científica, así como con la presentación de mini casos por parte de los residentes de ambas escuelas de postgrado en Dermatología en Nuevo León: el Hospital Universitario de la UANL y la UMAE # 25 del IMSS. Invitamos además a todos los colegas miembros activos de la SDNL a que presenten sus casos interesantes o perlas diagnósticas o terapéuticas en las sesiones, tenemos un espacio contemplado para estas presentaciones después de los mini casos para el Asociado Colegiado que  así lo solicite.
					</p>
				</div>
				<div class="col-12 col-lg-6 px-50">
					<p>
						Trataremos también, de incentivar más publicaciones científicas entre los Asociados Colegiados de nuestra asociación y los Médicos Residentes. Durante el 2018, Dermatología Revista Mexicana dedica un número especial al 50 aniversario de nuestra asociación.
					</p>
					<p>
						Los reconocimientos a nuevos miembros que hayan ingresado durante el año académico 2017-2018, se entregarán en la última sesión académica de ese año, la sesión de Marzo 8; mientras que los reconocimientos a los nuevos miembros que hayan ingresado durante el año académico 2018-2019, se entregaran en la sesión plenaria que se realizará como última sesión del bienio y como evento inicial del Congreso Internacional Regioderma2019, que se llevará a cabo del 14 al 17 de marzo del 2019 en el pabellón M (Monterrey Convention Center) de nuestra ciudad, el cual constituirá el evento culminante del Consejo Directivo que tengo el honor de presidir.
					</p>
					<p>
						Agradezco nuevamente la oportunidad de estar al frente del Consejo Directivo de nuestra asociación, la cual desde la sesión extraordinaria del 9 de noviembre de 2017, donde por unanimidad los miembros asociados aceptamos el cambio de estatutos, se denomina “Colegio Médico de Dermatólogos de Nuevo León, AC”. Les reitero la seguridad de todo mi empeño en el fortalecimiento de la Dermatología Neolonesa y de los lazos de unión entre todos nosotros, sus Asociados Colegiados.<br>
						Afectuosamente,
					</p>
					<p>
						<strong>Dr. Héctor Guillermo Leal Silva</strong><br>
						<i>Presidente, Consejo Directivo, Colegio Médico de Dermatólogos de Nuevo León, AC. Bienio 2017-2019</i>
					</p>
					<img src="{{asset('images/cmdnl-logo-sm.png')}}" class="img-fluid verflow-hidden" data-aos="fade-up">
				</div>
			</div>
		</div>
	</section>
{% endblock %}
