{% extends "layout.html.twig" %}
{% block header %}
	<header class="header header-inverse"  style="section-inverse" data-parallax="{{asset('images/bg-content-001.jpg')}}">
		<div class="container text-center">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
					<h1>Sesiones Académicas</h1>
					<p class="fs-20 opacity-70">Colegio de Médicos Dermatológos de Nuevo León, A.C.</p>
				</div>
			</div>
		</div>
	</header>
{% endblock  %}	
{% block content %}
	<section class="section bg-grey">
		<div class="container">
			<div class="row gap-y justify-content-center">
				<div class="col-9">
					<h3>Requisitos de Ingreso <small>(requisitos para conseguir la calidad de asociado)</small></h3>
					<p>Para formar parte de la Asociación los interesados deberán llenar los siguientes requisitos para que sea aceptada su candidatura como Miembros Numerarios:</p>
					<ol>
					  <li> Tener Título Profesional de Médico Cirujano expedido por una Universidad reconocida por la Comisión Interinstitucional para la Formación de Recursos Humanos para la Salud (C.I.F.R.U.S.) y registrado en la Dirección General de Profesiones.</li>
					  <li>Haber completado una residencia o bien, una sub-especialidad en Dermatología, aprobada por el Plan Único de Especialidades Médicas (P.U.E.M.). La persona que haya realizado estudios en el Extranjero deberá tener el Titulo registrado ante el Consulado General de México en el País que otorgue dicho reconocimiento.</li>
					  <li>Los Médicos Extranjeros nacionalizados que quieran pertenecer a la Sociedad también tendrán que convalidar sus títulos de Médico y Especialista ante la Dirección General de Profesiones.</li>
					  <li>Tener Título Profesional de Especialista en Dermatología expedido por una Universidad reconocida por la Comisión Interinstitucional para la Formación de Recursos Humanos para la Salud (C.I.F.R.U.S.) y registrado en la Dirección General de Profesiones.</li>
					  <li>Tener Cédula Profesional de Especialidad en Dermatología o bien, de sub-especialidad en alguna rama de la Dermatología, registrada (s) en la Dirección General de Profesiones.</li>
					  <li>Preferentemente estar Certificado y en su caso Re-certificado por el Consejo Mexicano de Dermatología.<br>
					    </li>
					  <li>Hacer por escrito su solicitud de ingreso dirigida al Presidente con copia al Secretario del Colegio (documento descargable).</li>
					  <li>Entregar curriculum vitae con copias de todos los títulos y diplomas.</li>
					  <li>Dos cartas de recomendación de socios que propongan su ingreso.<br>
					    </li>
					  <li>Realizar un trabajo de ingreso con tres copias, entregándolo al Presidente con copias al Secretario, al Coordinador del Comité Científico y al Coordinador de Ingresos del Comité Científico del Consejo Directivo del Colegio. El trabajo será presentado y aprobado en junta ordinaria, por mayoría de votos de los socios presentes en la sesión que se discuta.<br>
					    </li>
					  <li>Pagar la cuota de ingreso y la cuota ordinaria anual a la Sociedad, vigentes en ese momento.</li>
					</ol>
					<h4>Membresía</h4>
					<p>Se consideran tres clases de asociados:</p>
					<p>Miembros Fundadores, Miembros Numerarios y Miembros Honorarios.</p>
					<p>Son Miembros Fundadores aquellos que concurrieron a la formalización y firma del Acta de modificación de denominación y estatutos  de la Asociación, con los mismos derechos y obligaciones de los Miembros Numerarios.</p>
					<p>Para ser Miembro Numerario se necesita lo establecido en “requisitos para conseguir la calidad de asociado”.</p>
					<p>El título de Miembro Honorario se concederá a los Miembros Numerarios o Fundadores que se distingan por sus servicios a la Sociedad y en los consejos directivos del Colegio o de la Sociedad de Dermatología de Nuevo León, A.C., y por su reconocida reputación científica y humanística y a los Médicos que sin ser socios se distingan por algunos de los mismos conceptos. El nombramiento de Miembro Honorario se concederá a petición de alguno de los Miembros Numerarios o Fundadores y con la aprobación de la mayoría de los Miembros Numerarios o Fundadores que asistan a la sesión en que se proponga.</p>
					<p>Son obligaciones de los Miembros Numerarios o Fundadores:</p>
					<ul>
					  <li>Contar con los títulos y registros profesionales correspondientes a cada caso;<br>
					    </li>
					  <li>Cubrir una cuota anual que se determinará cada año por el Consejo Directivo;<br>
					    </li>
					  <li>Asistir puntualmente a las sesiones clínicas, científicas y extraordinarias, congresos y jornadas que se programen;<br>
					    </li>
					  <li>Participar por lo menos cada cinco años en actividades organizadas por la Sociedad:<br>
					   &middot; Congresos o Jornadas Dermatológicas,<br>
					   &middot; Educación continua al Personal de Salud,<br>
					   &middot; Enseñanza Comunitaria,<br>
					   &middot; Brigadas médico-asistenciales;<br>
					    </li>
					  <li>Ser solidario en los eventos del Colegio;<br>
					    </li>
					  <li>De reconocida buena conducta; y<br>
					    </li>
					  <li>Que el desempeño de algún cargo público no sea impedimento.</li>
					</ul>
					<p>Los Miembros Numerarios y Fundadores tienen derecho a:</p>
					<ul>
						<li>Tomar parte en las deliberaciones del Colegio con voz y voto;<br>
						</li>
						<li>Elegir y ser electo como funcionario;<br>
						</li>
						<li>Proponer reformas o adiciones a los Estatutos de la Asociación.</li>
					</ul>
					<p>Son causas de pérdida de la calidad de asociado y en su caso de exclusión las siguientes:</p>
					<ul>
						<li> Por no asistir a un mínimo del 50% de las sesiones teóricas celebradas durante el bienio del Consejo Directivo correspondiente sin justificación;</li>
						<li>Por no pagar las cuotas ordinarias o extraordinarias, con excepción de los Miembros Honorarios, cuyas aportaciones serán de carácter voluntario;</li>
						<li>Por realizar actos en contra de la Asociación y/o de la práctica profesional, de tal manera que desprestigie a las mismas, particularmente actos que lesionen la amistad y la armonía entre los asociados;</li>
						<li>Participar en actividades sancionadas por la Bioética;</li>
						<li>Utilizar con fines de lucro, político, electoral o religioso el nombre o distintivo del Colegio;</li>
						<li>Falta de cumplimiento de estos Estatutos y del Reglamento de la Asociación;</li>
						<li>Lo que no esté especificado en este artículo será evaluado y dictaminado por el Comité de Honor y Justicia del Consejo Directivo. La decisión que este tome será inapelable.</li>
						<li>Los Asociados tendrán derecho a separarse voluntariamente de la Asociación cuando así lo deseen, previo aviso dado con 2-dos meses de anticipación.</li>
					</ul>
					<h4>Información Extra - Descargables</h4>
					<a href="{{asset('pdf/Formato-Ingreso-SDNL.pdf')}}" target="_blank" class="btn btn-success">
						<i class="fa fa-file-pdf-o"></i> Descargar Formato de Ingreso SDNL PDF
					</a>
					<a href="{{asset('pdf/SMDAC-FORMATO-PARA-INGRESO.pdf')}}" target="_blank" class="btn btn-success">
						<i class="fa fa-file-pdf-o"></i> Descargar Formato de Ingreso SMDAC PDF
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
