{% extends "layout.html.twig" %}
{% block header %}
	<header class="header header-inverse" style="section-inverse" data-parallax="{{asset('images/bg-content-003.jpg')}}">
		<div class="container text-center">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
					<h1>Mesa Directiva</h1>
					<p class="fs-20 opacity-70">Sociedad de Dermatología de Nuevo León A.C.</p>
				</div>
			</div>
		</div>
	</header>
{% endblock  %}	
{% block content %}
	<section class="section bg-grey">
		<div class="container">
			<div class="row gap-y justify-content-center">
				<div class="col-3 text-center">
					<p><img src="{{asset('images/logo-sdnl-dark-350.png')}}"></p>
					<br/>
					<h3 class="opacity-70">Mesa Directiva, bienio 2017-2019</h3>
					<hr/>
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-12 col-lg-6 px-50 text-center">
					<p><strong>Presidente</strong><br>
						Dr. Héctor Leal Silva<br>
						</p>
					<p><strong>Vicepresidente</strong><br>
						Dr. Vicente Sustaita Villagómez<br>
						</p>
					<p><strong>Secretario</strong><br>
						Dra. Nelly Espinoza González <br>
						</p>
					<p><strong>Tesorero</strong><br>
						Dra. Aída Rodríguez Peña<br>
						</p>
					<p><strong>Consejeros</strong><br>
						Dr. Jorge Ocampo Candiani<br>
						Dr. Julio César Villarreal Lozano<br>
						Dr. Abraham Benjamín Alfaro Sánchez<br>
						</p>
					<p><strong>Vocales</strong><br>
						Dra. Ingrid Gómez Yepes<br>
						Dra. Laura Nilda Moreno <br>
						Dra. Laura Maricela Arizpe Ayala<br>
						</p>
					<p><strong>Comité de Honor y Justicia</strong><br>
						Dr. Oliverio Welsh Lozano<br>
						Dra. Gloria Esther Hernández Ruiz<br>
						Dra. Leticia Pérez Suárez<br>
						</p>
					<p><strong>Comité de Colegiación</strong><br>
						Dr. Gerardo Maysen Giacoman <br>
						Dra. Sandra Guajardo Pérez<br>
						Dra. Silvia García Zapata
					</p>
					<p><strong>Comité Científico </strong><br>
						Dr. Roger González Ramírez <br>
					</p>
				</div>
				<div class="col-12 col-lg-6 px-50 text-center">
					<p><strong>Ingresos </strong><br>
						Dra. Esperanza Welsh Hernández <br>
					</p>
					<p><strong>Bibliógrafo </strong><br>
						Dr. Alejandro González Silva<br>
						</p>
					<p><strong>Grupos de Trabajo</strong><br>
						Dr. Mario Amaya Guerra<br>
						Dra. Laura Ramos Gómez<br>
						Dr. Osvaldo Vázquez Martínez<br>
						Dr. José Darío Martínez Villarreal<br>
						Dr. Heriberto Vázquez Flores<br>
						</p>
					<p><strong>Congreso 2019 </strong><br>
						Dr. Jorge Moreno González <br>
						</p>
					<p><strong>Comité de Eventos </strong><br>
						Dra. Adriana Villarreal Rodríguez<br>
						Dra. María Esther de la Rosa Hermosillo <br>
						Dra. Mónica Morcos González<br>
						</p>
					<p><strong>Comité de Asuntos Culturales</strong><br>
						Dr. Rubén Hinojosa Ayala <br>
						Dra. Griselda Woo González<br>
						Dr. Carlos Assad Morell<br>
						</p>
					<p><strong>Relaciones con la Industria </strong><br>
						Dr. Remigio González Soto<br>
						</p>
					<p><strong>Relaciones con los Residentes </strong><br>
						Dra. Norma Vázquez Herrera <br>
						Dr. Jorge Garza Gómez <br>
						</p>
					<p><strong>Relaciones Públicas </strong><br>
						Dr. Héctor Javier Barbosa Alanís
					</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
