{% extends "layout.html.twig" %}
{% block header %}
	<header class="header header-inverse" style="section-inverse" data-parallax="{{asset('images/bg-content-006.jpg')}}">
		<div class="container text-center">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
					<h1>Regioderma 2018</h1>
					<p class="fs-20 opacity-70">Colegio Médico de Dermatológos de Nuevo León A.C.</p>
				</div>
			</div>
		</div>
	</header>
{% endblock  %}	
{% block content %}
	<section class="section bg-grey">
		<div class="container">
			<div class="row gap-y">
				<div class="col-12 px-50 text-center">
					<img src="{{asset('images/anuncio.jpg')}}">
				</div>
			</div>
		</div>
	</section>
{% endblock %}
