{% extends "layout.html.twig" %}
{% block header %}
	<header class="header header-inverse"  style="section-inverse" data-parallax="{{asset('images/bg-content-001.jpg')}}">
		<div class="container text-center">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
					<h1>Sesiones Académicas</h1>
					<p class="fs-20 opacity-70">Colegio Médico de Dermatológos de Nuevo León A.C.</p>
				</div>
			</div>
		</div>
	</header>
{% endblock  %}	
{% block content %}
	<section class="section bg-grey">
		<div class="container">
			<div class="row gap-y justify-content-center">
				<div class="col-4 text-center">
					<h3>Próximos Eventos</h3>
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-12 px-50">
					<div class="table-responsive event">
						<table class="table table-bordered table-striped text-left">
						  <tbody>
						    <tr>
						      <th>Fecha</th>
						      <th>Hora</th>
						      <th>Evento</th>
						      <th>Sede</th>
						      <th>Ponente</th>
						      <th>Anfitrión </th>
						    </tr>
						    <tr>
						      <td class="event-expired">Marzo 26, <strong>2017</strong></td>
						      <td class="event-expired">7:30 (8:00) pm</td>
						      <td class="event-expired">Toma de Protesta</td>
						      <td class="event-expired">Valle Alto</td>
						      <td class="event-expired">Panalab/Merz/ISDIN</td>
						      <td class="event-expired">Adisat/Disisa</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Abril 20</td>
						      <td class="event-expired">7:30 pm</td>
						      <td class="event-expired">A.1ª Sesión Académica</td>
						      <td class="event-expired">Quinta Real</td>
						      <td class="event-expired">Drs. Poletti, López Rdz.</td>
						      <td class="event-expired">Novartis</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Mayo 3</td>
						      <td class="event-expired">7:30 pm</td>
						      <td class="event-expired">Curso/taller: Tricología</td>
						      <td class="event-expired">UANL</td>
						      <td class="event-expired">Dra. Cristina Serrano</td>
						      <td class="event-expired">Upp Pharma</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Mayo 4</td>
						      <td class="event-expired">7:30 (8:00) pm</td>
						      <td class="event-expired">A.2ª Sesión Académica</td>
						      <td class="event-expired">Quinta Real</td>
						      <td class="event-expired">Dra. Cristina Serrano</td>
						      <td class="event-expired">ISDIN</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Mayo 8</td>
						      <td class="event-expired">7:30 pm</td>
						      <td class="event-expired">Día de las Madres</td>
						      <td class="event-expired">Mar de Zur</td>
						      <td class="event-expired">Hugo Valdez (escritor)</td>
						      <td class="event-expired">SDNL</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Junio 1</td>
						      <td class="event-expired">7:30 (8:00) pm</td>
						      <td class="event-expired">A.3ª Sesión Académica</td>
						      <td class="event-expired">Quinta Real</td>
						      <td class="event-expired">Roberto Arenas/SMD</td>
						      <td class="event-expired">ISDIN</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Junio 19, 2017</td>
						      <td class="event-expired">7:30 pm</td>
						      <td class="event-expired">Día del Padre</td>
						      <td class="event-expired">Magma</td>
						      <td class="event-expired">NA</td>
						      <td class="event-expired">Tecnomédica</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Julio13, 2017</td>
						      <td class="event-expired">7:30 (8:00) pm</td>
						      <td class="event-expired">A.4ª Sesión Académica</td>
						      <td class="event-expired">Quinta Real</td>
						      <td class="event-expired">Suneel Chilukuri, MD</td>
						      <td class="event-expired">BTL</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Julio 14, 2017</td>
						      <td class="event-expired">9:00 am</td>
						      <td class="event-expired">Taller/Desayuno</td>
						      <td class="event-expired">Camino Real</td>
						      <td class="event-expired">Suneel Chilukuri, MD</td>
						      <td class="event-expired">BTL</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Agosto 3, 2017</td>
						      <td class="event-expired">7:30 (8:00) pm</td>
						      <td class="event-expired">A.5ª Sesión Académica</td>
						      <td class="event-expired">Quinta Real</td>
						      <td class="event-expired">John Gaviria /AMD</td>
						      <td class="event-expired">Panalab</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Septiembre 7</td>
						      <td class="event-expired">7:30 (8:00) pm</td>
						      <td class="event-expired">A.6ª Sesión Académica</td>
						      <td class="event-expired">Quinta Real</td>
						      <td class="event-expired">Johannes Dayrit, MD</td>
						      <td class="event-expired">Jeisys</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Septiembre 9</td>
						      <td class="event-expired">9:15 am</td>
						      <td class="event-expired">Taller/Reunión Usuarios</td>
						      <td class="event-expired">Novhotel</td>
						      <td class="event-expired">Johannes Dayrit, MD</td>
						      <td class="event-expired">Jeisys</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Octubre 3, 2017</td>
						      <td class="event-expired">6:00 – 9:00 pm</td>
						      <td class="event-expired">Curso Dermatoscopía </td>
						      <td class="event-expired">EMC UANL</td>
						      <td class="event-expired">Dra. Javiera Pérez</td>
						      <td class="event-expired">SDNL</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Octubre 4, 2017</td>
						      <td class="event-expired">7:30 (8:00) pm</td>
						      <td class="event-expired">A.7ª sesión académica</td>
						      <td class="event-expired">Quinta Real</td>
						      <td class="event-expired">Dra. Javiera Pérez</td>
						      <td class="event-expired">Pierre Fabre</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Noviembre 9</td>
						      <td class="event-expired">7:30 (8:00) pm</td>
						      <td class="event-expired">A.8ª Sesión Académica</td>
						      <td class="event-expired">Quinta Real</td>
						      <td class="event-expired">Dr. Francisco Salazar </td>
						      <td class="event-expired">Galderma</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Diciembre </td>
						      <td class="event-expired">7:30 pm</td>
						      <td class="event-expired">Posada Navideña</td>
						      <td class="event-expired">Millenium</td>
						      <td class="event-expired">Grupo Sevilla</td>
						      <td class="event-expired">Merz</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Enero 11, <strong>2018</strong></td>
						      <td class="event-expired">7:30 (8:00) pm</td>
						      <td class="event-expired">A.9ª Sesión Académica</td>
						      <td class="event-expired">Quinta Real</td>
						      <td class="event-expired">Dr. Gabriel Salerni</td>
						      <td class="event-expired">ISDIN</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Enero 13</td>
						      <td class="event-expired">9:00 am</td>
						      <td class="event-expired">Curso/Taller</td>
						      <td class="event-expired">Swiss Hosp.</td>
						      <td class="event-expired">Drs. Quiñones, Salerni</td>
						      <td class="event-expired">Pierre Fabre</td>
						    </tr>
						    <tr>
						      <td class="event-expired">Enero 26</td>
						      <td class="event-expired">9:00–19:00 H</td>
						      <td class="event-expired">Foro: Toxinas/rellenos</td>
						      <td class="event-expired">Doctors H.</td>
						      <td class="event-expired">Drs. Lira, Ocampo, Leal</td>
						      <td class="event-expired">CCPERNL/CMDNL</td>
						    </tr>
						    <tr>
						      <td>Febrero 8</td>
						      <td>7:30 (8:00) pm</td>
						      <td>A.10ª Sesión Académica</td>
						      <td>Camino Real</td>
						      <td>Mcgrath, Uitto</td>
						      <td>Cantabria</td>
						    </tr>
						    <tr>
						      <td>Febrero 9</td>
						      <td>9:00-11:30 am</td>
						      <td>Catedra Laboris</td>
						      <td>UDEM</td>
						      <td>McGrath, Uitto</td>
						      <td>UDEM/SDNL</td>
						    </tr>
						    <tr>
						      <td>Marzo 1</td>
						      <td>7:30 (8:00) pm</td>
						      <td>A.11ª Sesión Académica</td>
						      <td>Camino Real</td>
						      <td>Dr. Marco Quintanilla, Dr. Ricardo Galván</td>
						      <td>Merz</td>
						    </tr>
						    <tr>
						      <td>Marzo 3</td>
						      <td>9:00 am</td>
						      <td>Taller Ac. Tranexámico</td>
						      <td><br>      </td>
						      <td>Dr. Ricardo Galván </td>
						      <td>SkinMedical/Ferring</td>
						    </tr>
						    <tr>
						      <td>Abril 12</td>
						      <td>7:30 (8:00) pm</td>
						      <td>B.1ª Sesión Académica 50 Aniversario SDNL</td>
						      <td>Camino Real</td>
						      <td>Richard Langley MD, MC Alexandro Bonifaz</td>
						      <td>Novartis</td>
						    </tr>
						    <tr>
						      <td>Mayo 3 </td>
						      <td>7:30 (8:00) pm</td>
						      <td>B.2ª Sesión Académica</td>
						      <td>Camino Real</td>
						      <td>Roberto Arenas/SMD</td>
						      <td>ISDIN</td>
						    </tr>
						    <tr>
						      <td>Mayo 8</td>
						      <td>7:30 pm</td>
						      <td>Día de las Madres</td>
						      <td>Valle Alto </td>
						      <td>Club de Golf, Terraza </td>
						      <td>Velvety</td>
						    </tr>
						    <tr>
						      <td>Junio 14</td>
						      <td>7:30 (8:00) pm</td>
						      <td>B.3ª Sesión Académica</td>
						      <td>Camino Real</td>
						      <td>Michael Gold, MD</td>
						      <td>Tegor</td>
						    </tr>
						    <tr>
						      <td>Junio 18</td>
						      <td>8:30 pm</td>
						      <td>Día del Padre</td>
						      <td>Valle Alto </td>
						      <td>Club de Golf, Terraza </td>
						      <td><br>      </td>
						    </tr>
						    <tr>
						      <td>Julio 12</td>
						      <td>7:30 (8:00) pm</td>
						      <td>B.4ª Sesión Académica</td>
						      <td>Camino Real</td>
						      <td>Dr. Rodrigo Roldán M.</td>
						      <td>Pierre Fabre</td>
						    </tr>
						    <tr>
						      <td>Agosto 2</td>
						      <td>7:30 (8:00) pm</td>
						      <td>B.5ª Sesión Académica</td>
						      <td>Camino Real</td>
						      <td><br>      </td>
						      <td>Panalab</td>
						    </tr>
						    <tr>
						      <td>Septiembre 6</td>
						      <td>7:30 (8:00) pm</td>
						      <td>B.6ª Sesión Académica</td>
						      <td>Camino Real</td>
						      <td><br>      </td>
						      <td>Jeisys</td>
						    </tr>
						    <tr>
						      <td>Octubre 11</td>
						      <td>7:30 (8:00) pm</td>
						      <td>B.7ª Sesión Académica</td>
						      <td>Camino Real</td>
						      <td>Dra. Angélica Beirana</td>
						      <td>Pierre Fabre</td>
						    </tr>
						    <tr>
						      <td>Noviembre 8</td>
						      <td>7:30 (8:00) pm</td>
						      <td>B.8ª Sesión Académica</td>
						      <td>Camino Real</td>
						      <td><br>      </td>
						      <td>Merz</td>
						    </tr>
						    <tr>
						      <td>Diciembre 6</td>
						      <td>7:00 pm</td>
						      <td>Posada Navideña</td>
						      <td><br>      </td>
						      <td><br>      </td>
						      <td>Merz</td>
						    </tr>
						    <tr>
						      <td>Enero 10, <strong>2019</strong></td>
						      <td>7:30 (8:00) pm</td>
						      <td>B.9ª Sesión Académica</td>
						      <td>Camino Real</td>
						      <td><br>      </td>
						      <td>Cantabria</td>
						    </tr>
						    <tr>
						      <td>Febrero 7</td>
						      <td>7:30 (8:00) pm</td>
						      <td>B.10ª Sesión Académica</td>
						      <td>Camino Real</td>
						      <td><br>      </td>
						      <td>ISDIN</td>
						    </tr>
						    <tr>
						      <td>Marzo 14</td>
						      <td>7:00 pm</td>
						      <td>B.11ª Sesión Plenaria</td>
						      <td>Pabellón M</td>
						      <td>Plenaria</td>
						      <td>CMDNL</td>
						    </tr>
						    <tr>
						      <td>Marzo 15-17</td>
						      <td>Todo el día</td>
						      <td>RegioDerma2019</td>
						      <td>Pabellón M</td>
						      <td>Congreso Internacional</td>
						      <td>Múltiple</td>
						    </tr>
						    <tr>
						      <td><br>      </td>
						      <td><br>      </td>
						      <td><br>      </td>
						      <td><br>      </td>
						      <td><br>      </td>
						      <td><br>      </td>
						    </tr>
						  </tbody>
						</table>
					</div>
					<div class="divider-sm"></div>
				</div>
				<div class="col-md-12 text-center">
						<div class="alert alert-info text-center">
							<strong><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Aviso Importante: </strong> Conozca los Requisitos para ser parte de la SMD y SDNL
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#mainModal">
							 	<i class="fa fa-eye" aria-hidden="true"></i> Ver Requisitos de Ingreso SMD - SDNL
							</button>
						</div>
						<h3>Información Extra - Descargables</h3>
						<a href="{{asset('pdf/Formato-Ingreso-SDNL.pdf')}}" target="_blank" class="btn btn-success">
							<i class="fa fa-file-pdf-o"></i> Descargar Formato de Ingreso SDNL PDF
						</a>
						<a href="{{asset('pdf/SMDAC-FORMATO-PARA-INGRESO.pdf')}}" target="_blank" class="btn btn-success">
							<i class="fa fa-file-pdf-o"></i> Descargar Formato de Ingreso SMDAC PDF
						</a>
					</div>
			</div>
		</div>
	</section>
{% endblock %}
