{% extends "layout.html.twig" %}
{% block header %}
	<header class="header header-inverse"  style="section-inverse" data-parallax="{{asset('images/bg-content-001.jpg')}}">
		<div class="container text-center">
			<div class="row">
				<div class="col-12 col-lg-8 offset-lg-2">
					<h1>Sesiones Académicas</h1>
					<p class="fs-20 opacity-70">Colegio Médico de Dermatológos de Nuevo León A.C.</p>
				</div>
			</div>
		</div>
	</header>
{% endblock  %}	
{% block content %}
	<section class="section bg-grey">
		<div class="container">
			<div class="row gap-y justify-content-center">
				<div class="col-4 text-center">
					<h3>Próximos Eventos</h3>
				</div>
			</div>
			<div class="row gap-y">
				<div class="col-12 px-50">
					<div class="table-responsive event">
						<table class="table table-bordered table-striped text-left">
						  	<tbody>
								<tr>
								  <th width="12%">FECHA</th>
								  <th width="13%">HORA</th>
								  <th width="20%">EVENTO</th>
								  <th width="15%">SEDE</th>
								  <th>PONENTE</th>
								  <th>ANFITRIÓN</th>
								</tr>
								<tr>
								  <td>Enero 11, 2018</td>
								  <td>7:30 (8:00) pm</td>
								  <td>A.9ª Sesión Académica</td>
								  <td>Quinta Real</td>
								  <td>Dr. Gabriel Salerni</td>
								  <td>ISDIN</td>
								</tr>
								<tr>
								  <td>Enero 13</td>
								  <td>9:00 am</td>
								  <td>Curso/Taller</td>
								  <td>Swiss Hosp.</td>
								  <td>Quiñones/Salerni</td>
								  <td>Pierre Fabre</td>
								</tr>
								<tr>
								  <td>Enero 26</td>
								  <td>9:00–19:00 H</td>
								  <td>Foro: Toxinas/rellenos</td>
								  <td>Doctors H.</td>
								  <td>Lira/Ocampo/Leal</td>
								  <td>CCPERNL/CMDNL</td>
								</tr>
								<tr>
								  <td>Febrero 8</td>
								  <td>7:30 (8:00) pm</td>
								  <td>A.10ª Sesión Académica</td>
								  <td><br>      </td>
								  <td>John Mcgrath MD,        Jouni Uitto MD</td>
								  <td>Cantabria</td>
								</tr>
								<tr>
								  <td>Febrero 9</td>
								  <td>9:00-11:00 am</td>
								  <td>Catedra Laboris</td>
								  <td>Hospital Muguerza</td>
								  <td>John Mcgrath MD,        Jouni Uitto MD</td>
								  <td>UDEM</td>
								</tr>
								<tr>
								  <td>Marzo 8</td>
								  <td>7:30 (8:00) pm</td>
								  <td>A.11ª Sesión Académica</td>
								  <td>Quinta Real</td>
								  <td>Dr. Marco Quintanilla, Dr. Ricardo Galván</td>
								  <td>Merz</td>
								</tr>
								<tr>
								  <td>Marzo 10</td>
								  <td>9:00 am</td>
								  <td>Taller Ac. Tranexámico</td>
								  <td><br>      </td>
								  <td>Dr. Ricardo Galván </td>
								  <td>Deka/Ferring</td>
								</tr>
								<tr>
								  <td>Abril 12</td>
								  <td>7:30 (8:00) pm</td>
								  <td>B.1ª Sesión Académica</td>
								  <td>Quinta Real</td>
								  <td>Richard Langley MD, MC Alexandro Bonifaz</td>
								  <td>Novartis</td>
								</tr>
								<tr>
								  <td>Mayo 3 </td>
								  <td>7:30 (8:00) pm</td>
								  <td>B.2ª Sesión Académica</td>
								  <td>Quinta Real</td>
								  <td>Roberto Arenas/ SMD Trabajos de Ingreso</td>
								  <td>ISDIN</td>
								</tr>
								<tr>
								  <td>Mayo 7</td>
								  <td>7:30 pm</td>
								  <td>Día de las Madres</td>
								  <td><br>      </td>
								  <td><br>      </td>
								  <td>Velvety</td>
								</tr>
								<tr>
								  <td>Junio 14</td>
								  <td>7:30 (8:00) pm</td>
								  <td>B.3ª Sesión Académica</td>
								  <td>Quinta Real</td>
								  <td>Michael Gold</td>
								  <td>Tegor</td>
								</tr>
								<tr>
								  <td>Junio 18</td>
								  <td>7:30 pm</td>
								  <td>Día del Padre</td>
								  <td>Casa H Leal</td>
								  <td>N/A</td>
								  <td>Dr. Leal</td>
								</tr>
								<tr>
								  <td>Julio 12</td>
								  <td>7:30 (8:00) pm</td>
								  <td>B.4ª Sesión Académica</td>
								  <td>Quinta Real</td>
								  <td>Rodrigo Roldán Marín</td>
								  <td>Pierre Fabre</td>
								</tr>
								<tr>
								  <td>Agosto 2</td>
								  <td>7:30 (8:00) pm</td>
								  <td>B.5ª Sesión Académica</td>
								  <td>Quinta Real</td>
								  <td>Trabajos ingreso AMD</td>
								  <td>Panalab</td>
								</tr>
								<tr>
								  <td>Septiembre 6</td>
								  <td>7:30 (8:00) pm</td>
								  <td>B.6ª Sesión Académica</td>
								  <td>Quinta Real</td>
								  <td><br>      </td>
								  <td>Jeisys</td>
								</tr>
								<tr>
								  <td>Octubre 11</td>
								  <td>7:30 (8:00) pm</td>
								  <td>B.7ª Sesión Académica</td>
								  <td>Quinta Real</td>
								  <td><br>      </td>
								  <td>Merz</td>
								</tr>
								<tr>
								  <td>Noviembre 8</td>
								  <td>7:30 (8:00) pm</td>
								  <td>B.8ª Sesión Académica</td>
								  <td>Quinta Real</td>
								  <td>Angélica Beirana</td>
								  <td>Pierre Fabre</td>
								</tr>
								<tr>
								  <td>Diciembre 6</td>
								  <td>7:30 pm</td>
								  <td>Posada Navideña</td>
								  <td><br>      </td>
								  <td><br>      </td>
								  <td>Merz</td>
								</tr>
								<tr>
								  <td>Enero 10, 2019</td>
								  <td>7:30 (8:00) pm</td>
								  <td>B.9ª Sesión Académica</td>
								  <td>Quinta Real</td>
								  <td><br>      </td>
								  <td>Cantabria</td>
								</tr>
								<tr>
								  <td>Febrero 7</td>
								  <td>7:30 (8:00) pm</td>
								  <td>B.10ª Sesión Académica</td>
								  <td>Quinta Real</td>
								  <td><br>      </td>
								  <td>ISDIN</td>
								</tr>
								<tr>
								  <td>Marzo 14</td>
								  <td>7:00 pm</td>
								  <td>B.11ª Sesión Plenaria</td>
								  <td>Pabellón M</td>
								  <td>Plenaria</td>
								  <td>RegioDerma</td>
								</tr>
								<tr>
								  <td>Marzo 14-17</td>
								  <td>Todo el día</td>
								  <td>Congreso Internacional RegioDerma2019</td>
								  <td>Pabellón M</td>
								  <td>R. Rox Anderson, Michael Gold, Suneel Chilukuri, George Martin, Amit Pandya (USA), Christine Dierickx (Bélgica), Kim Pap (Canada), Guiseppe Argenziano (Italia), Susana Puig, Cristina Serrano (España), Doris Hexsel (Brasil), Moshe Lapidot (Israel), John Gaviria (Colombia)</td>
								  <td>Múltiple</td>
								</tr>
						  	</tbody>
						</table>
					</div>
					<div class="divider-sm"></div>
				</div>
				<div class="col-md-12 text-center">
						<div class="alert alert-info text-center">
							<strong><i class="fa fa-exclamation-circle" aria-hidden="true"></i> Aviso Importante: </strong> Conozca los Requisitos para ser parte de la SMD y SDNL
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#mainModal">
							 	<i class="fa fa-eye" aria-hidden="true"></i> Ver Requisitos de Ingreso SMD - SDNL
							</button>
						</div>
						<h3>Información Extra - Descargables</h3>
						<a href="{{asset('pdf/Formato-Ingreso-SDNL.pdf')}}" target="_blank" class="btn btn-success">
							<i class="fa fa-file-pdf-o"></i> Descargar Formato de Ingreso SDNL PDF
						</a>
						<a href="{{asset('pdf/SMDAC-FORMATO-PARA-INGRESO.pdf')}}" target="_blank" class="btn btn-success">
							<i class="fa fa-file-pdf-o"></i> Descargar Formato de Ingreso SMDAC PDF
						</a>
					</div>
			</div>
		</div>
	</section>
{% endblock %}
