{% extends "layout-error.html.twig" %}

{% block content %}
    <small>Oops!</small>
    <h1>404</h1>
	<h2>Página No Encontrada</h2>
	<hr>
	<p class="lead">¡Parece que la página que esta buscando no existe!</p>
{% endblock %}
