<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<title>Sociedad de Dermatología de Nuevo León A.C.</title>
		<!-- Styles -->
		<link href="{{asset('css/core.min.css')}}" rel="stylesheet">
		<link href="{{asset('css/thesaas.min.css')}}" rel="stylesheet">
		<link href="{{asset('css/style.css')}}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Oswald:400|Poppins:400,400i,600,700" rel="stylesheet">
		<link href="{{asset('css/main.css')}}" rel="stylesheet">

		<!-- Favicons -->
		<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
		<link rel="icon" href="assets/img/favicon.png">
	</head>
  	<body>
	<!-- Main container -->
	<main class="main-content">
		<section class="section py-100">
			<div class="container">
				<header class="section-header">
					{% block content %}
					{% endblock %}
				</header>
				<br>
				<p class="text-center"><a class="btn btn-primary" href="./">Regresar a la página Principal</a></p>
			</div>
		</section>
		</main>
		<!-- END Main container -->
		<!-- Scripts -->
		<script src="assets/js/core.min.js"></script>
		<script src="assets/js/thesaas.min.js"></script>
		<script src="assets/js/script.js"></script>
	</body>
</html>
